<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">

    <!--    动态条件查询-->
    <select id="list" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>
        </where>
    </select>

    <!--    批量插入购物车数据-->
    <insert id="insertBatch" parameterType="list">
        insert into shopping_cart
        (user_id, dish_id, setmeal_id, name, dish_flavor,image, amount, number, create_time)
        values
        <foreach collection="shoppingCartList" item="sc" separator=",">
            (#{sc.userId}, #{sc.dishId}, #{sc.setmealId}, #{sc.name}, #{sc.dishFlavor}, #{sc.image}, #{sc.amount}, #{sc.number}, #{sc.createTime})
        </foreach>
    </insert>
</mapper>
